* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sidebar Area Start */
.sidebar {
  width: 250px;
  margin-top: 80px;
  height: 90%;
  position: fixed;
  top: 0;
  left: -250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid #afafaf23;
  transition: left 0.3s ease-in-out;
  -webkit-transition: left 0.3s ease-in-out;
  -moz-transition: left 0.3s ease-in-out;
  -ms-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  background: #ffffff;
}

.sidebar-header {
  padding: 20px;
  text-align: right;
  position: fixed;
  left: 20px;
  top: 15px;
}

.bar-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: rgb(112, 112, 112);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.sidebar-links {
  list-style: none;
  padding: 0;
  justify-content: space-between;
}

.sidebar-links h3 {
  margin: 70px 0 50px 0;
  font-family: "Roboto";
}

.sidebar-links li {
  margin: 10px 0;
  position: relative;
  font-family: "Roboto";
  padding-left: 15px;
}

.sidebar-links a {
  color: rgb(82, 82, 82);
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 0;
  font-family: "Poppins" !important;
  letter-spacing: 0.1px;
}

.sidebar-links li.active a span {
  height: 100%;
  width: 3px;
  background: #ff7f50;
  position: absolute;
  right: -52px;
  top: 0;
  border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
}

.sidebar-links li.active a {
  color: black;
}

.sidebar-links i {
  padding-right: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 700px;
  text-align: start;
  transition: margin-left 0.3s ease-in-out;
  -webkit-transition: margin-left 0.3s ease-in-out;
  -moz-transition: margin-left 0.3s ease-in-out;
  -ms-transition: margin-left 0.3s ease-in-out;
  -o-transition: margin-left 0.3s ease-in-out;
}

.sidebar.active {
  left: 0;
}

.logout {
  position: absolute;
  bottom: 10px;
  left: 30%;
  color: rgb(231, 59, 59);
  cursor: pointer;
  font-family: "Poppins" !important;
}
/* Sidebar Area End */

/* Top-Profile Area Start  */
.profile-top {
  position: absolute;
  top: 20px;
  right: 20px;
  padding-bottom: 20px;
  text-align: right;
  cursor: pointer;
}

.top-line {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  color: #3837375d;
}

.profile-top a {
  color: #464646;
  font-weight: 100;
}

.profile-top img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: 25px;
}

.profile-top p {
  margin-top: 17px;
  color: #1f1e1ecb;
  font-family: "Poppins";
  margin: 0 10px;
}
/* Top-Profile Area End */

/* Profile Area Start */
.profile {
  margin: 120px 0 40px 50px;
}

.profile img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.profile-inner {
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.profile-inner h4 {
  color: #1f1e1ecb;
  font-weight: 500;
  font-size: 20px;
}

.profile-inner p {
  color: #7a7a7acb;
  font-size: 14px;
  font-weight: 400;
}

.profile-info label {
  display: block;
  font-family: "Roboto";
  font-weight: 500;
  color: #1f1e1ea6;
  margin-bottom: 6px;
}

.profile-info input {
  outline: none;
  padding: 0 15px;
  font-size: 14px;
  background: #e7e7e74d;
  border: thin solid #e7e7e7bb;
  height: 40px;
  width: 270px;
  margin-bottom: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #464646;
  font-weight: 500;
}

.profile-info--inner {
  margin: 0 35px;
}

.save-btn {
  text-align: center;
  justify-content: center;
  display: flex;
}

.save-btn a {
  margin: 30px 0;
  padding: 10px 30px;
  background: coral;
  font-family: "Poppins";
  font-size: 19px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  width: 250px;
  text-align: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/* Profile Area End */
